@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  padding: 10px;
  width: 100vw;
  background-color: white;
}

.header__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__topic {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

.header__burger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__burger img {
  width: 30px;
}

.burger {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: -3;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.4s ease, right 0.4s ease;
}

.burger__another {
  background-color: rgba(0, 0, 0, 0.4);
  flex: 1 1 auto;
}

.burger__body {
  transition: all 0.4s ease;
  width: 300px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}

.burger__top {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.burger__bottom {
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.burger__link {
  padding: 10px;
  transition: background-color 0.1s ease, color 0.1s ease;
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 3px solid white;
}
.burger__link:hover {
  border: 3px solid black;
}

.burger__exit {
  cursor: pointer;
  width: 30px;
}

@media (max-width: 320px) {
  .burger__body {
    width: 100%;
  }
  .burger__link {
    font-size: 16px;
  }
}
.title__image {
  width: 80%;
  text-align: center;
}

.first-screeen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-screen__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

path.title {
  fill: white;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: 1080;
  stroke-dashoffset: 1080;
  -webkit-animation: draw 10s ease forwards;
          animation: draw 10s ease forwards;
  transition: all 5s linear;
}

.title__text {
  -webkit-animation: titleText 5s ease forwards;
          animation: titleText 5s ease forwards;
  font-family: "Marko One";
  font-size: 30px;
}

@-webkit-keyframes titleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 1000px) {
  .title__image {
    width: 100%;
  }
}
@media (max-aspect-ratio: 9/10) {
  .first-screeen {
    background-size: 100% auto;
  }
}