@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  position: fixed;
  padding: 10px;
  width: 100vw;
  transition: all 0.3s ease;
}

body.white header {
  background-color: white;
}

body.black header {
  background-color: black;
}

.header__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__topic {
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body.white .header__topic {
  border: 3px solid black;
  background-color: white;
}

body.black .header__topic {
  border: 3px solid white;
  background-color: black;
}

.header__burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

body.black .header__burger {
  filter: invert(100%);
}

.header__burger img {
  width: 30px;
}

.burger {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: -3;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.4s ease, right 0.4s ease;
}

.burger__another {
  background-color: rgba(0, 0, 0, 0.4);
  flex: 1 1 auto;
}

.burger__body {
  transition: all 0.4s ease;
  width: 300px;
  height: 100vh;
}

body.white .burger__body {
  background-color: white;
  border: 3px solid black;
}

body.black .burger__body {
  background-color: black;
  border: 3px solid white;
}

.burger__top {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.burger__bottom {
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.burger__link {
  padding: 10px;
  transition: background-color 0.1s ease, color 0.1s ease;
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
}

body.white .burger__link {
  border: 3px solid white;
  background-color: white;
  color: black;
}
body.white .burger__link:hover {
  border: 3px solid black;
}

body.black .burger__link {
  border: 3px solid black;
  background-color: black;
  color: white;
}
body.black .burger__link:hover {
  border: 3px solid white;
}

.burger__exit {
  cursor: pointer;
  width: 30px;
}

body.white .exit__item {
  fill: white;
  stroke: black;
}

body.black .exit__item {
  fill: black;
  stroke: white;
}

@media (max-width: 320px) {
  .burger__body {
    width: 100%;
  }
  .burger__link {
    font-size: 16px;
  }
}
.first-screeen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

body.white .first-screeen {
  background-color: white;
}

body.black .first-screeen {
  background-color: black;
}

.first-screen__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

path.title {
  stroke-width: 5px;
  stroke-dasharray: 1080;
  stroke-dashoffset: 1080;
  animation: draw 10s ease forwards;
  transition: all 0.3s ease;
}

body.white path.title {
  fill: white;
  stroke: black;
}

body.black path.title {
  fill: black;
  stroke: white;
}

.title__image {
  width: 80%;
  text-align: center;
}

.title__text {
  animation: titleText 5s ease forwards;
  font-family: "Marko One";
  font-size: 30px;
  transition: all 0.3s ease;
}

body.white .title__text {
  background-color: white;
  color: black;
}

body.black .title__text {
  background-color: black;
  color: white;
}

@keyframes titleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 1000px) {
  .title__image {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .title__text {
    font-size: 20px;
  }
}
@media (max-width: 130px) {
  .title__text {
    font-size: 10px;
  }
}
@media (max-aspect-ratio: 9/10) {
  .first-screeen {
    background-size: 100% auto;
  }
}
.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.portfolio__title {
  text-align: center;
  font-family: "Marko One";
  font-size: 30px;
}

.portfolio__sort {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.portfolio__el {
  font-family: "Open Sans";
  border-radius: 30px;
  padding: 5px 10px;
  color: black;
  background-color: black;
}