* {
    margin: 0;
    padding: 0;
}

.title__image {
    width: 80%;
    text-align: center;
}

.first-screeen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-screen__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-screen__next {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.first-screen__next img {
    width: 50px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.first-screen__next img:hover {
    transform: scale(1.4);
}

path {
    fill: white;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 1080;
    stroke-dashoffset: 1080;
    animation: draw 10s ease forwards;
    transition: all 0.1s linear;

}

.title__text {
    font-family: "Marko One";
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 1000px) {
    .title__image {
        width: 100%;
    }
}

@media(max-aspect-ratio: 9/10) {
    .first-screeen {
        background-size: 100% auto;
    }
}