header {
    background-color: white;
}

.header__burger {
    display: none;
    align-items: center;
    margin: 10px;
}

.header__burger img {
    width: 25px;
}

.header__link {
    text-decoration: none;
}

.header__body {
    display: flex;
    justify-content: center;
}

.header__link {
    font-size: 20px;
    font-family: Roboto;
    color: black;
    margin: 0 40px;
    padding: 5px 10px;
    border-radius: 5px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.header__link:hover {
    color: white;
    background-color: black;

}

@media (max-width: 1200px) {
    .header__body {
        width: 100%;
        justify-content: space-between;
    }

    .header__link {
        display: none;
    }

    .header__burger {
        display: flex;
    }
}