header {
    z-index: 5;
    opacity: 0;
    position: fixed;
    padding: 10px;
    width: 100vw;
    transition: all 0.3s ease;
}

body.white {
    header {
        background-color: white;
    }
}

body.black {
    header {
        background-color: black;
    }
}


.header__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__topic {
    cursor: pointer;
    transition: all 0.3s ease;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

body.white {
    .header__topic {
        border: 3px solid black;
        background-color: white;
    }
}

body.black {
    .header__topic {
        border: 3px solid white;
        background-color: black;
    }
}

.header__burger {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.black {
    .header__burger {
        filter: invert(100%);
    }
}

.header__burger img {
    width: 30px;
}