.portfolio {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

body.black {
    background-color: black;
}

body.white {
    background-color: white;
}

body.black {
    .portfolio {
        background-color: black;
    }

    .portfolio__title {
        background-color: black;
        color: white;
    }
}


.portfolio__title {
    text-align: center;
    font-family: "Marko One";
    font-size: 30px;
}

.portfolio__sort {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}


.portfolio__el {
    font-family: 'Open Sans';
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
}


body.black {
    .portfolio__el.selected {
        background-color: white;
        color: black;
    }

    .portfolio__el {
        color: white;
    }
}

body.white {
    .portfolio__el.selected {
        background-color: black;
        color: white;
    }

    .portfolio__el {
        color: black;
    }
}