.burger {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: -3;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.4s ease, right 0.4s ease;
}

.burger.opened {
    z-index: 6;
    opacity: 1;

    .burger__body {
        right: 0px;
    }
}

.burger__another {
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 1 auto;
}

body.white {
    .burger__another {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

body.black {
    .burger__another {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.burger__body {
    transition: all 0.4s ease;
    width: 300px;
    height: 100vh;
}

body.white {
    .burger__body {
        background-color: white;
        // border: 3px solid black;
    }
}

body.black {
    .burger__body {
        background-color: black;
        // border: 3px solid white;
    }
}

.burger__top {
    display: flex;
    justify-content: end;
    padding: 5px;
}

.burger__bottom {
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
}

.burger__link {
    padding: 10px;
    transition: background-color 0.1s ease, color 0.1s ease;
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
}

body.white {
    .burger__link {
        border: 3px solid white;
        background-color: white;
        color: black;

        &:hover {
            border: 3px solid black;
        }
    }
}

body.black {
    .burger__link {
        border: 3px solid black;
        background-color: black;
        color: white;

        &:hover {
            border: 3px solid white;
        }
    }
}


.burger__exit {
    cursor: pointer;
    width: 30px;
}

body.white {
    .exit__item {
        fill: white;
        stroke: black;
    }
}

body.black {
    .burger__exit {
        filter: invert(100%);
    }

    .exit__item {
        fill: black;
        stroke: white;
    }
}

@media (max-width: 320px) {
    .burger__body {
        width: 100%;
    }

    .burger__link {
        font-size: 16px;
    }
}