.main {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main *::selection {
    color: white;
    background-color: black;
}

.title {
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}

.svgText {
    opacity: 0;
    stroke-width: 5px;
    stroke-dasharray: 1080;
    transition: all 1s ease;
    animation: noDraw 1s ease forwards;
}

.active {
    .svgText {
        opacity: 1;
        stroke-dashoffset: 1080;
        animation: draw 1s ease forwards;
        animation-duration: 1;
        // width: 0%;
    }
    .title {
        opacity: 1;
    }
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes noDraw {
    100% {
        stroke-dashoffset: 1080;
    }
}

@media (max-width:1200px) {
    .main {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 25px;
    }
}