@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;1000&display=swap');

*::-webkit-scrollbar {
    display: none;
}

* {
    font-family: Nunito;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    position: relative;
    height: 100%;
}

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}